/*General*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Bree+Serif);
body {
	padding-top: 70px;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5 {
	font-family: 'Bree Serif', serif;
}
/*end General*/


/*NAV*/
nav {
	position: fixed;
	top: 0;
	left: 0;
	background: #fafafa;
	border-bottom: 2px solid #ccc;
	height: 70px;
	width: 100%;
	font-weight: 700;
	z-index: 1000;
}
nav ul {
	float: right;
	width: auto;
}
nav li {
	float: left;
	width: 110px;	
}
nav li a {
	padding: 20px 10px;
	display: block;
	height: 32px;
	text-decoration: none;
	color: #333;
	-webkit-transition: all 750ms ease-in-out;
	-moz-transition: all 750ms ease-in-out;
	-ms-transition: all 750ms ease-in-out;
	-o-transition: all 750mss ease-in-out;
	transition: all 750ms ease-in-out;
}
nav li a:hover {
	margin: 8px 0 0 0;
	background: rgba(73, 79, 90, .8);
	color: rgba(54, 184, 237, 1);
}
#brand {
	text-indent: -9000px;
	background: url(../images/Monogram_Basic_Black.png) no-repeat top left;
	background-size: cover;
	height: 60px;
	width: 90px;
	float: left;
	margin: 5px 5px 5px 25px;
	/*padding-left: 20px;*/
}
/*End NAV*/


/*Footer*/
footer {
	background: rgba(73, 79, 90, 1);
	text-align: center;
	color: rgba(54, 184, 237, .6);
	padding: 20px;
}
footer a {
	color: rgba(54, 184, 237, .6);
}
/*End Footer*/


/*Container*/
.container {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	text-align: center;
}
/*End Container*/


/*Hero Image*/
#hero {
	background: url(../images/20140721-111-Glacier_NP.jpg) no-repeat top left;
	text-align: center;
	color: black;
	padding: 25px 0;
	height: 350px;	
	background-size: auto;
	background-size: cover;
	text-shadow: 1px 1px 1px rgba(54, 184, 237, 1);

}
#hero img {
	width: 150px;
	border-radius: 50%;
	margin-top: 30px;
	opacity: 1;
	transition: all 1s ease-in-out;
	border: 2px solid black;
}
#hero h2 {
	font-size: 300%;
	margin: 15px;
}
#hero .city {
	padding: 10px 20px;
	display: inline-block;
	text-transform: uppercase;
	color: black;
}
/*End Hero Image*/


/*Main Content*/
#main-content {
	padding: 25px 0;
	overflow: hidden;
}
#main-content h3 {
	padding: 30px;
	margin-top: 20px;
	font-size: 300%; 
	text-align: center;
	color: rgba(73, 79, 90, 1);
	text-shadow: 2px 2px 2px rgba(54, 184, 237, 1);
}
#main-content h4 {
	padding: 20px;
	font-size: 150%; 
	text-align: center;
	color: rgba(73, 79, 90, 1);
	text-shadow: 1px 1px 1px rgba(54, 184, 237, 1);
}
/*End Main Content*/


/*Contact me page*/
#contact-me {
    margin: 0 auto;
    width: 650px;
    padding: 20px;
    border: 7px solid rgba(73, 79, 90, .8);
    border-radius: 20px;
}
#contact-me form div + div {
    margin-top: 1em;
}
#contact-me label {
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 10px;
    color: rgba(73, 79, 90, .8);
}
#contact-me input, textarea {
	font-size: 15px;
	color: rgba(73, 79, 90, .6);
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(73, 79, 90, .8);
    height: 30px;
    border-radius: 3px;
    padding-left: 7px;
    padding-right: 7px;
}
#contact-me input:focus, textarea:focus {
    border-color: rgba(54, 184, 237, 1);
}
#contact-me textarea {
    vertical-align: top;
    text-align: left;
    height: 10em;
    resize: vertical;
}
#contact-me .button {
    padding-left: 60px;
    display: block;
    text-align: center;
}
#contact-me button {
    margin-left: 10em;
    font-size: 15px;
    color: rgba(73, 79, 90, .8);
    border-radius: 5px;
}
#contact-me button:hover {
	color: rgba(54, 184, 237, 1);
}
/*End contact me page*/


/*Resume Page*/
#resume {
	border: 2px solid rgba(73, 79, 90, .8);
	/*border-radius: 10px;*/
	vertical-align: middle;
}
/*End Resume Page*/


/*Social bar*/
#social {
	background: rgba(73, 79, 90, 1);
	overflow: hidden;
	padding: 10px;
	text-align: center;
	color: white;
}
#social h2 {
	padding: 10px;
}
#social img {
	padding: 10px;
	padding-top: 10px;
	width: 45px;

}
#social a {
	text-decoration: none;
}
/*End Social Bar*/


/*Flex Box Stuff*/
.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: center;
	justify-content: stretch;
	overflow: hidden;
}
.flex-column {
	text-align: center;
	padding: 30px 15px 0px 15px;
	margin: 0 auto;
}
.flex-column div {
	border-radius: 50%;
	border: 2px solid rgba(73, 79, 90, .8);
	margin: 0 auto;
}
.flex-column h5 {
	font-size: 15px;
}
.flex-column p {
	width: 275px;
	height: 100px;
}
.flex-column .flex-link {
	display: inline-block;
	font-size: 13px;
	width: 75px;
	padding: 5px 20px 5px 20px;
	margin: 10px auto;
	border: 2px solid rgba(73, 79, 90, .8);
	border-radius: 9px;
	text-decoration: none;
	text-align: center;
	color: rgba(73, 79, 90, .8);
}
.flex-column .flex-link:hover {
	color: white;
	background: rgba(73, 79, 90, .8);
}
/*End Flex Box*/


/*Photo Details and Button*/
.flex-column h6 {
	font-size: 13px;
	width: 75px;
	padding: 5px 20px 5px 20px;
	margin: 10px auto;
	border: 2px solid rgba(73, 79, 90, .8);
	border-radius: 9px;
}
.flex-column h6:hover {
	color: white;
	background-color: rgba(73, 79, 90, .8);
}
.flex-column table {
	width: 100%;
}
.photo-details th {
	width: 50%;
	text-align: right;
	padding-top: 3px;
	padding-right: 3px
}
.photo-details td {
	font-size: 12px;
	width: 50%;
	text-align: left;
	padding-top: 3px;
	padding-left: 3px;
	vertical-align: middle;
}
.photo-details img {
	width: 18px;
	height: 18px;
}
.photo-details {
	display: none;
	padding: 5px;
}
.photo-details {
	border: none;
	padding-top: 5px;
}
/*End Photo details and button*/



/*Thumbnail classes*/
.square {
	width: 250px;
    height: 250px;
}

.square-big {
	width: 275px;
    height: 275px;
}

/*Media Queries*/
@media (max-width: 575px) {
	#brand {
		display: none;
	}
}
@media (max-width: 775px) {
	#contact-me {
		width: 70%;

	}
	#contact-me input, textarea {
		width: 100%;
	}
	#contact-me label {
		text-align: center;
		padding-bottom: 5px;
	}
	#contact-me .button {
		padding-left: 0;
	}
	#contact-me button {
		margin-left: 0;
	}
}