/* Place site styles below! 

Happy Coding! */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Bree+Serif);

body {
	padding-top: 70px;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5 {
	font-family: 'Bree Serif', serif;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	background: #fafafa;
	border-bottom: 2px solid #ccc;
	height: 70px;
	width: 100%;
	font-weight: 700;
	z-index: 1000;
}
nav ul {
	float: right;
	width: auto;
}
nav li {
	float: left;
	width: 110px;	
}

nav li a {
	padding: 20px 10px;
	display: block;
	height: 32px;
	text-decoration: none;
	color: #333;
	-webkit-transition: all 750ms ease-in-out;
	-moz-transition: all 750ms ease-in-out;
	-ms-transition: all 750ms ease-in-out;
	-o-transition: all 750mss ease-in-out;
	transition: all 750ms ease-in-out;
}

nav li a:hover {
	margin: 8px 0 0 0;
	background: rgba(73, 79, 90, .8);
	color: rgba(54, 184, 237, 1);
}

footer {
	background: rgba(73, 79, 90, 1);
	text-align: center;
	color: rgba(54, 184, 237, .6);
	padding: 10px;
}

footer a {
	color: rgba(54, 184, 237, .6);
}

#brand {
	text-indent: -9000px;
	background: url(../images/Monogram_Basic_Black.png) no-repeat top left;
	background-size: cover;
	height: 60px;
	width: 90px;
	float: left;
	margin: 5px;
}
.container {
	width: 1024px;
	margin: 0 auto;
}

#hero {
	background: url(../images/20140721-111-Glacier_NP.jpg) no-repeat top left;
	text-align: center;
	color: black;
	padding: 25px 0;
	height: 350px;
	background-size: cover;
	text-shadow: 1px 1px 1px rgba(54, 184, 237, 1);
}

#hero img {
	width: 150px;
	border-radius: 50%;
	margin-top: 30px;
	opacity: 1;
	transition: all 1s ease-in-out;
	border: 2px solid black;
}

#hero h2 {
	font-size: 300%;
	margin: 15px;
}
#hero .city {
	/*border: 3px solid #fff;*/
	padding: 10px 20px;
	display: inline-block;
	text-transform: uppercase;
	color: black;
	/*background: rgba(0,0,0,.50);*/
}
#main-content {
	padding: 25px 0;
	overflow: hidden;
}

#main-content h3 {
	padding: 30px;
	font-size: 300%; 
	text-align: center;
	color: rgba(73, 79, 90, 1);
	text-shadow: 2px 2px 2px rgba(54, 184, 237, 1);
}

#main-content h4 {
	padding: 20px;
	font-size: 150%; 
	text-align: center;
	color: rgba(73, 79, 90, 1);
	text-shadow: 1px 1px 1px rgba(54, 184, 237, 1);
}

#contact-me {
	/* Just to center the form on the page */
    margin: 0 auto;
    width: 650px;
    /* To see the outline of the form */
    padding: 20px;
    border: 7px solid rgba(73, 79, 90, .8);
    border-radius: 20px;
}

#contact-me form div + div {
    margin-top: 1em;
}

#contact-me label {
    /* To make sure that all label have the same size and are properly align */
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 10px;
    color: rgba(73, 79, 90, .8);
}

#contact-me input, textarea {
	font-size: 15px;
	color: rgba(73, 79, 90, .6);
    /* To give the same size to all text field */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid rgba(73, 79, 90, .8);
    height: 30px;
    border-radius: 3px;
    padding-left: 7px;
    padding-right: 7px;
}

#contact-me input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: rgba(54, 184, 237, 1);
}

#contact-me textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;
    text-align: left;

    /* To give enough room to type some text */
    height: 10em;
    resize: vertical;
}

.button {
    padding-left: 60px;
    display: block;
    text-align: center;
}
#contact-me button {
    margin-left: 10em;
    font-size: 15px;
    color: rgba(73, 79, 90, .8);
    border-radius: 5px;
}
#contact-me button:hover {
	color: rgba(54, 184, 237, 1);
}

#resume {
	border: 2px solid rgba(73, 79, 90, .8);
	/*border-radius: 10px;*/
	vertical-align: middle;
}

#social {
	background: rgba(73, 79, 90, 1);
	overflow: hidden;
	padding: 10px;
	text-align: center;
	color: white;
}
#social h2 {
	padding: 10px;
}

#social img {
	padding: 10px;
	padding-top: 10px;
	width: 45px;

}
#social a {
	text-decoration: none;
}

.column {
	float: left;
	width: 30%;
	padding: 15px;
	text-align: center;
}
.column img {
	width: 90%;
	max-width: 90%;
	border-radius: 50%;
	border: 2px solid rgba(73, 79, 90, .8);
}
.column h4 {
	color: rgba(73, 79, 90, 1);
	font-size: 200%;
	font-weight: bold;
	margin: 15px 0;
}
.column p {
	color: rgba(54, 184, 237, 1);
	font-size: 130%;
	margin-bottom: 15px;
}
.column .btn {
	border: 3px solid rgba(54, 184, 237, 1);
	font-size: 150%;
	display: inline-block;
	text-decoration: none;
	background: rgba(73, 79, 90, .8);
	color: rgba(54, 184, 237, 1);
	padding: 10px;
	border-radius: 5px;
	-webkit-transition: all 750ms ease-in-out;
	-moz-transition: all 750ms ease-in-out;
	-ms-transition: all 750ms ease-in-out;
	-o-transition: all 750mss ease-in-out;
	transition: all 750ms ease-in-out;
}
.column .btn:hover {
	border: 3px solid rgba(73, 79, 90, 1);
	border-radius: 10px;
	background: rgba(54, 184, 237, 1);
	color: rgba(73, 79, 90, 1);
}









.photo-column {
	float: left;
	width: 30%;
	padding: 15px;
	text-align: center;
}
.photo-column div {
	margin: 0 auto;
	border-radius: 15px;
	border: 2px solid rgba(73, 79, 90, .8);
}
.photo-column h5 {
	font-size: 15px;
}
/*
.photo-column h4 {
	color: rgba(73, 79, 90, 1);
	font-size: 200%;
	font-weight: bold;
	margin: 15px 0;
}
.photo-column p {
	color: rgba(54, 184, 237, 1);
	font-size: 130%;
	margin-bottom: 15px;
}
.photo-column .btn {
	border: 3px solid rgba(54, 184, 237, 1);
	font-size: 150%;
	display: inline-block;
	text-decoration: none;
	background: rgba(73, 79, 90, .8);
	color: rgba(54, 184, 237, 1);
	padding: 10px;
	border-radius: 5px;
	-webkit-transition: all 750ms ease-in-out;
	-moz-transition: all 750ms ease-in-out;
	-ms-transition: all 750ms ease-in-out;
	-o-transition: all 750mss ease-in-out;
	transition: all 750ms ease-in-out;
}*/









.container {
	text-align: center;
}