/* Place site styles below! 

Happy Coding! */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Bree+Serif);

body {
	padding-top: 70px;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5 {
	font-family: 'Bree Serif', serif;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	background: #fafafa;
	border-bottom: 2px solid #ccc;
	height: 70px;
	width: 100%;
	font-weight: 700;
}
nav ul {
	float: right;
	width: auto;
}
nav li {
	float: left;
	width: 110px;	
}

nav li a {
	padding: 20px 10px;
	display: block;
	height: 32px;
	text-decoration: none;
	color: #333;
	-webkit-transition: all 750ms ease-in-out;
	-moz-transition: all 750ms ease-in-out;
	-ms-transition: all 750ms ease-in-out;
	-o-transition: all 750mss ease-in-out;
	transition: all 750ms ease-in-out;
}

nav li a:hover {
	margin: 8px 0 0 0;
	background: rgba(73, 79, 90, .8);
	color: rgba(54, 184, 237, 1);
}

footer {
	background: rgba(73, 79, 90, 1);
	text-align: center;
	color: rgba(54, 184, 237, .6);
	padding: 10px;
}

footer a {
	color: rgba(54, 184, 237, .6);
}

#brand {
	text-indent: -9000px;
	background: url(../images/Monogram_Basic_Black.png) no-repeat top left;
	background-size: cover;
	height: 60px;
	width: 90px;
	float: left;
	margin: 5px;
}
.container {
	width: 1024px;
	margin: 0 auto;
}

#hero {
	background: url(../images/20140721-111-Glacier_NP.jpg) no-repeat top left;
	text-align: center;
	color: #333;
	padding: 25px 0;
	height: 350px;
	background-size: cover;
}

#hero img {
	width: 150px;
	border-radius: 50%;
	margin-top: 30px;
	opacity: 1;
	transition: all 1s ease-in-out;
	border: 2px solid rgba(73, 79, 90, .8);
}

#hero h2 {
	font-size: 300%;
	margin: 15px;
}
#hero .city {
	border: 3px solid #fff;
	padding: 10px 20px;
	display: inline-block;
	text-transform: uppercase;
	color: rgba(54, 184, 237, 1);
	background: rgba(0,0,0,.50);
}
#main-content {
	padding: 25px 0;
	overflow: hidden;
}

#main-content h3 {
	padding: 20px;
	font-size: 300%; 
	text-align: center;
	color: rgba(73, 79, 90, 1);
	text-shadow: 2px 2px 2px rgba(54, 184, 237, 1);
}

#social {
	background: rgba(73, 79, 90, 1);
	overflow: hidden;
	padding: 10px;
	text-align: center;
	color: white;
}
#social h2 {
	padding: 10px;
}

#social img {
	padding: 10px;
	padding-top: 10px;
	width: 45px;

}
#social a {
	text-decoration: none;
}

.column {
	float: left;
	width: 30%;
	padding: 15px;
	text-align: center;
}
.column img {
	width: 90%;
	max-width: 90%;
	border-radius: 50%;
	border: 2px solid rgba(73, 79, 90, .8);
}
.column h4 {
	color: rgba(73, 79, 90, 1);
	font-size: 200%;
	font-weight: bold;
	margin: 15px 0;
}
.column p {
	color: rgba(54, 184, 237, 1);
	font-size: 130%;
	margin-bottom: 15px;
}
.column .btn {
	border: 3px solid rgba(54, 184, 237, 1);
	font-size: 150%;
	display: inline-block;
	text-decoration: none;
	background: rgba(73, 79, 90, .8);
	color: rgba(54, 184, 237, 1);
	padding: 10px;
	border-radius: 5px;
	-webkit-transition: all 750ms ease-in-out;
	-moz-transition: all 750ms ease-in-out;
	-ms-transition: all 750ms ease-in-out;
	-o-transition: all 750mss ease-in-out;
	transition: all 750ms ease-in-out;
}
.column .btn:hover {
	border: 3px solid rgba(73, 79, 90, 1);
	border-radius: 10px;
	background: rgba(54, 184, 237, 1);
	color: rgba(73, 79, 90, 1);
}
.container {
	text-align: center;
}
